node_modules/
dist/
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
coverage/
*.tgz
.eslintcache

# Agent worktrees (full repo copies) created by isolated review agents.
.claude/worktrees/
