@use '@carbon/layout';

.panelContainer {
  position: fixed;
  bottom: calc(layout.$spacing-07 + 3.5rem);
  right: layout.$spacing-07;
  z-index: 9000;
  width: 28rem;
  max-width: calc(100vw - 2 * layout.$spacing-07);
}
